<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>All.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>GraphFunhouse.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>GraphKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>deglist.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>gdlc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>genum.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>gpath.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1D00E3C615710DC500FFE15F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D2F65D4166501E300A82551</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D99680A155915C0000F29D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D99681C155915EA000F29D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1DC5694C1572707400E8F182</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1DF240E115731AF6002E62FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
